@import "tailwindcss";

:root {
  /* Warna khusus */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  /* Box Shadow */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /* Font Family */
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

/* Jika ingin menggunakan Ovo di elemen tertentu */
.ovo-font {
  font-family: var(--font-ovo);
}
*{
  font-family: var(--font-outfit);
}
/* Jika ingin menggunakan Outfit di elemen tertentu */
.outfit-font {
  font-family: var(--font-outfit);
}
.dark-theme {
  background-color: var(--color-dark-theme);
  color: white;
}
/* Contoh penggunaan warna dan box shadow */
.btn-hover-light {
  background-color: var(--color-light-hover);
}
.btn-hover-light:hover {
  box-shadow: var(--shadow-black);
}

.hover-light:hover{
  background-color: var(--color-light-hover);
}
.btn-hover-dark {
  background-color: var(--color-dark-hover);
}

.dark-theme {
  background-color: var(--color-dark-theme);
}

.shadow-black {
  box-shadow: var(--shadow-black);
}

.shadow-white {
  box-shadow: var(--shadow-white);
}

.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

